
input {
  background: red !important;
  padding: 20px !important;
}

.secondary {
  --styled-select-multi-value__background-color: #40a3f5;
  --styled-select-multi-value__border: 1px solid black;
  --styled-select-multi-value__border--hover: 1px solid black;
  --styled-select-multi-value__border-radius: 3px;
  --styled-select-multi-value__box-shadow: rgba(0,0,0,0.2) 0px 0px 3px;

  --styled-select-placeholder__color: #999;
  --styled-select__color: white;
  --styled-select__background-color: #555;
  --styled-select__border-color: black;
  --styled-select__border-width: 3px;
  --styled-select__border-radius: 5px;

  --styled-select-menu-outer__margin: 10px 0 0 0;
  --styled-select-menu-outer__padding: 0;
  --styled-select-menu-outer__background-color: #555;
  --styled-select-menu-outer__border-color: black;
  --styled-select-menu-outer__border-style: solid;
  --styled-select-menu-outer__border-width: 3px;

  --styled-select-option__background-color: #444;

  --styled-select-option__color--focused: #eee;
  --styled-select-option__background-color--focused: #333;

  --styled-select-option__color--selected: #eee;
  --styled-select-option__background-color-selected: #444;
}
